.club-cards
  padding-bottom: 4.571rem
  &__header
    margin-bottom: 2.214rem
  &__wrapper
    display: flex
    justify-content: space-between
  &__card
    max-width: 550px
    max-height: 370px
  &__form-wrapper
    // flex-basis: 40%
  &__months-wrapper
    display: flex
    justify-content: space-between
  &__adress-wrapper
    margin-top: 1.643rem
  &__personality-info-wrapper
    display: flex
    flex-wrap: wrap
    justify-content: flex-start
  &__input-months
    position: absolute
    z-index: -1
    opacity: 0
    &:checked+.club-cards__label-months
        background-color: $yellow
        border: 1px solid $yellow
        color: $brown
  &__input-adress
    position: absolute
    z-index: -1
    opacity: 0
    &:checked+.club-cards__label-adress::before
       background: url('../img/club-cards/arrow-checkbox.png') no-repeat center $yellow
       border-color: $yellow
  &__label-adress
    display: flex
    &::before
     content: ''
     display: inline-block
     width: 20px
     height: 20px
     margin-right: 0.857rem
     border: 1px solid $input-grey
     border-radius: 25%
  &__label-months
    display: inline-flex
    align-items: center
    max-width: 8.571rem
    max-height: 3.214rem
    padding: 1.1rem 1.929rem
    margin-right: 0.429rem
    border-radius: 50px
    border: 1px solid $input-grey
    color: $input-grey
    font-size: 0.8rem
    text-transform: uppercase
    cursor: pointer
    &-first
      padding: 1.1rem 2.5rem
    &-fourth
      padding: 1.1rem 1.714rem
      margin-right: 0
    &:hover
      background-color: $yellow
      border-color: $yellow
      color: $brown
  &__input-personality-info
    flex-basis: 100%
    font-size: 1rem
    padding: 1.286rem 0 1.286rem 1.786rem
    border: 1px solid $input-grey 
    &:invalid+.club-cards__placeholder
      display: block
  &__input-group-personality-info
    display: flex
    flex-basis: 100%
    position: relative
    &:first-child
      margin-bottom: 0.857rem
      margin-top: 1.714rem 
  &__policy-personality-info
    display: flex
    flex-basis: 100%
    justify-content: flex-start
    margin-top: 1.143rem
    margin-left: 1.5rem
    margin-bottom: 1.143rem
  &__label
    display: flex
    align-items: center
    color: #94939a
    &::before
     content: ''
     display: inline-block
     width: 20px
     height: 20px
     margin-right: 0.857rem
     border: 1px solid $input-grey
     border-radius: 25%
  &__checkbox
    position: absolute
    z-index: -1
    opacity: 0
    &:checked+.club-cards__label::before
       background: url('../img/club-cards/arrow-checkbox.png') no-repeat center $yellow
       border-color: $yellow
  &__button
    font-size: 0.857rem
    line-height: 1
    text-transform: uppercase
    font-weight: bold
    padding: 1.1rem 1.714rem
    transform: translateY(-15%)
    &-wrapper
      display: flex
      flex-basis: 100%
      justify-content: flex-end
  &__placeholder
    display: none
    position: absolute
    top: 50%
    left: 5%
    transform: translate(0%, -50%)
    color: #94939a
    font-size: 1rem
    &-star
      color: $yellow
.club-card
  position: relative
  flex-basis: 40%
  margin-right: 6.571rem
  &__main-img
    padding: 4.286rem 5.357rem 4.286rem 6.5rem
  &__background-img-first
    position: absolute
    top: 0
    left: 0
    z-index: -10
  &__background-img-second
    position: absolute
    bottom: 0
    right: 0
    z-index: -10
.input-group
  &__adress
    display: flex
    &:last-child
      margin-top: 1.423rem
.label-adress
  &__description
    font-size: 1.143rem
    color: $grey
    font-weight: bold
    line-height: 1.4
  &__text
    font-weight: 300

  